<div class="row">
  <div class="card lg-10">
    <div class="card-header">Crear una cuenta nueva</div>
    <div class="card-body">
      <form (submit)="create()">
        <div class="form-group">
          <input
            name="sometihng"
            type="text"
            placeholder="nombre de usuario"
            class="form-control"
            [(ngModel)]="nuevo_usuario.username"
            required
            autofocus
          />
          <input
            name="sometihng"
            type="text"
            [(ngModel)]="nuevo_usuario.first_name"
            placeholder="nombre"
            class="form-control"
            required
          />
          <input
            name="sometihng"
            type="text"
            placeholder="apellidos"
            [(ngModel)]="nuevo_usuario.last_name"
            class="form-control"
            required
          />
          <input
            id="exampleFormControlInput1"
            name="sometihng_mail"
            type="email"
            placeholder="correo"
            class="form-control"
            [(ngModel)]="nuevo_usuario.email"
            required
          />
          <input
            name="sometihng"
            type="password"
            placeholder="contraseña"
            [(ngModel)]="nuevo_usuario.password"
            class="form-control"
            required
          />

          <button type="submit" (click)="create()" class="btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div></div>
<img src="../../imgs/dinosaur.svg" width="500" height="600" />
Icons made by
<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
