<div class="row">
  <div class="card mt-4">
    <div class="card-header">Iniciar Sesion</div>
    <div class="card-body">
      <form (submit)="loginUser($event)">
        <div class="form-group">
          <input
            type="text"
            placeholder="username"
            id="username"
            class="form-control-lg"
          />
          <input
            type="password"
            placeholder="password"
            id="password"
            class="form-control-lg"
          />
          <button (click)="login()" class="btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
