<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li
          *ngFor="let evento of eventosArray"
          class="list-group-item list-group-item-action"
          (click)="openForEdit(evento)"
          [class.active]="evento === selectedEvento"
        >
          Categoria: {{ evento.event_category }}
          {{ evento.id }}
          En:{{ evento.event_place }} Dirección:
          {{ evento.event_address }} Desde:
          {{ evento.event_initial_date }} Hasta: {{ evento.event_final_date }}
        </li>
      </ul>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-tittle">Crear un evento</div>
        <div class="form-group">
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >Selecciona la categoria</label
            >
            <select
              [(ngModel)]="selectedEvento.event_category"
              class="form-control"
              id="exampleFormControlSelect1"
            >
              <option value="" selected disabled hidden>Choose here</option>
              <option selected="selected" value="">---Please select---</option>
              <option value="Seminario">Seminario</option>
              <option value="Conferencia">Conferencia</option>
              <option value="Congreso">Congreso</option>
              <option value="Curso">Curso</option>
            </select>
          </div>
          <input
            type="text"
            [(ngModel)]="selectedEvento.event_name"
            placeholder="nombre"
            class="form-control"
          />
          <input
            type="text"
            [(ngModel)]="selectedEvento.event_place"
            placeholder="lugar"
            class="form-control"
          />
          <input
            type="text"
            [(ngModel)]="selectedEvento.event_address"
            placeholder="direccion"
            class="form-control"
          />
          <input
            type="date"
            id="final"
            name="trip-end"
            [(ngModel)]="selectedEvento.event_final_date"
            min="2000-01-01"
            class="form-control"
          />
          <input
            type="date"
            id="start"
            name="trip-start"
            value="2018-07-24"
            [(ngModel)]="selectedEvento.event_initial_date"
            min="2000-01-01"
            class="form-control"
          />
          <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input
              type="file"
              class="form-control-file"
              id="exampleFormControlFile1"
            />
          </div>
          <button
            *ngIf="selectedEvento.id !== 0"
            (click)="addOrEdit()"
            class="btn-primary"
          >
            Edit
          </button>
          <button
            *ngIf="selectedEvento.id === 0"
            (click)="addOrEdit()"
            class="btn-primary"
          >
            Submit
          </button>

          <button
            *ngIf="selectedEvento.id !== 0"
            (click)="deleteEvento()"
            class="btn btn-danger"
          >
            DELETE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
